.site-section header 
{
	font-weight: bold;
	position: absolute;
	margin-top: -30px;
	/*margin-left: -10px;*/
}

.site-section
{
	padding: 0px;
}

#body_container 
{
	margin-top: 80px;
}

.videos_list ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.videos_list li
{
	font-size: .7em;
	padding: 5px 5px 5px 15px;
	overflow: auto;
}

.videos_list li:nth-child(even)
{
	background-color: #ddd;
}

.videos_list li > div:nth-child(2)
{
	text-align: right;
}

.videos_list li > div
{
	width: 50%;
	float: left;
	overflow: auto;
}

.videos_list label
{
	font-size: .7em;
	padding-left: 5px;
}

.videos_list table
{
	display: none;
	border: none;
	width: 70%;
	margin: 10px;
}

.videos_list thead
{
	font-weight: bold;
	text-decoration: underline;
}

.videos_list .question_text {
	font-size: 1.2em;
	text-decoration: none !important;
}

.videos_list td {
	width: 33%;
}

.videos_list td:nth-child(3)
{
	width: 34%;
}

.Correct
{
	color: green;
}

.Incorrect
{
	color: red;
}