@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

body 
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	// background-image: url('..//img/paper_fibers.png');
	// background-image: url('../img/bg.png');
	background-color: #eee;
	background-repeat: repeat;
}
html
{
	height: 100%;
}

#header_container
{
	padding: 0px;
	position: fixed;
	top:0px;
	background-color: rgba(0,0,0, 0.95);
	margin: 0px;
	width: 100%;
	height: 35px;
	z-index: 75;
}

#footer_container
{
	@extend #header_container;
	top: auto;
	bottom: 0px;
}

#footer
{
	font-weight: 300;
	text-align: center;
}

.video_add
{
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	z-index: 70;
	height: 70%;
	width: 500px;
	background-color: white;
	box-shadow: 0px 0px 6px #222;
	border-radius: 2px;
	font-family: 'Lato', sans-serif;

	h1
	{
		margin: 0;
		padding: 20px;
		font-size: 24px;
		font-style: italic;
	}

	ul
	{
		list-style: none;
		line-height: 32px;
		padding-left: 20px;
		margin: 0;
	}
}

.headerfooter
{
	height: 35px;
	margin:0 auto;
	padding: 0px;
	line-height: 35px;
	font-family: 'Lato', sans-serif;
	color: white;

	a:link, a:visited, a:active
	{
		text-decoration: none;
		font-weight: 300;
		font-size: 12px;
	}

	.left
	{
		font-weight: 400;
		float: left;
	}

	.leftish
	{
		margin-left: 10px;
		float: left;
	}

	.right
	{
		float: right;
		font-weight: 300;
	}
}

#browse_drawer
{
	position: fixed;
	top: 35px;
	height: 0px;
	width: 100%;
	z-index: 60;
	opacity: .95;
	background-color: #000;
	// display: none;
	overflow: hidden;

	.shadow
	{
		box-shadow: 0px 0px 0px 8px #000;
	}
}

.centered_on_page
{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#body_container
{
	position: relative;
	margin-top: 70px;
	padding-bottom: 100px;
	width: 100%;
	height: auto;
}

#media_area_container
{
	overflow: hidden;
}

.player_container
{
	margin-left: auto;
	margin-right: auto;
	border: none;
	margin-bottom: 0;
	width: 650px;
	background-color: black;
	height: 365px;
	z-index: 50;
}

.editing_scrubber
{
	position: relative;
	margin-bottom: 15px;
	margin-top: 0;
	width: 650px;
	height: 40px;
	background-color: #141414;
	padding: 0;
	z-index: 100;
}

.editing_question_anchor
{
	position: absolute;
	height: 7px;
	width: 7px;
	background-color: #000;
	z-index: 70;
	left: 50px;
	top: 3px;
}

.editing_question_anchor
{
	cursor: pointer;
}

.player_control_img
{
	position: relative;
	width: 24px;
	height: 24px;
	left: 10px;
	top: 8px;
	float: left;
}

.editing_scrubber_basebar
{
	position: absolute;
	top: 15px;
	left: 44px;
	z-index: 60;
	width: 90%;
	height: 10px;
	border: 0;
	background-color: transparent;
}

.editing_scrubber_progress
{
	@extend .editing_scrubber_basebar;
	//width: 100px;
	background-color: #fff;
	z-index: 70;
}

.editing_scrubber_buffer
{
	@extend .editing_scrubber_basebar;
	//width: 500px;
	background-color: #444;
	z-index: 65;
}

#controls
{
	background-color: #000;
	position: absolute;
	bottom: 0px;
	height: 35px;
	width: 100%;
	opacity: .7;
	z-index: 60;
}

.nextButton
{
	position: absolute;
	top: 25px;
	right: 25px;
	font-weight: bold;
	font-size: 13px;
	//height: 24px;
	padding: 10px;
	background-color: #bbb;
	cursor: pointer;
}

.stepbody
{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	//display: inline-block;
	.inner
	{
		color: #666;
		display: table-cell;
		vertical-align: middle;
		width: 70%;
		height: 70%;
		box-align: center;
	}

	a:link, a:visited, a:hover, a:active
	{
		color: black;
		font-weight: 400;
		text-decoration: none;
	}

	p
	{
		padding: 0;
		margin: 0 0 10px 0;
	}

	.top
	{
		font-weight: 400;
		font-size: 24pt;
	}
	.bottom
	{
		font-weight: 300;
		font-size: 11pt;
	}
}

.initiallyHidden
{
	display: none;
	opacity: 0;
}

.section
{
	position: relative;
	//margin-top: 15px;
	margin-bottom: 40px;
	border-width: 4px 1px 1px 1px;
	border-style: solid;
	border-color: #bbb;
	max-width: 100%;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
	background-color: #eee;
	overflow: hidden;
	height: 80%;
}

.section_step2
{
	@extend .section;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	height: 30%;
}

#description_container
{
	// border-width: 4px 1px 1px 1px;
	// border-style: solid;
	// border-color: #bbb;
	// max-width: 100%;
	// margin-top: 15px;
	// color: #333;
	// font-family: 'Lato', sans-serif;
	// font-size: 14pt;
	// height: auto;
	// background-color: #eee;
	// overflow: hidden;

	h1
	{
		margin-top: 10px;
		margin-bottom: 12px;
		font-size: 20pt;
	}

	hr
	{
		background-color: #888;
		height: 1px;
		border: 0;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.padright
	{
		margin: 0;
		padding: 0;
		height: auto;
		width: 65%;
		float: left;
		display: block;
		//padding-right: 5px;
	}
	.padleft
	{
		border-width: 0 0 0 1px;
		border-style: solid;
		border-color: #bbb;
		float: right;
		margin: 0;
		padding: 0;
		height: auto;
		width: 35%;
		display: block;

		//padding-left: 20px;
	}

	.desc_body
	{
		padding: 0;
		margin: 0;
		max-width: 100%;
		font-size: 10pt;
		height: auto;
		margin-right: 20px;
		
		.text
		{
			margin: 0;
			padding-right: 5px;
		}
	}

	.desc_more_videos
	{
		max-width: 100%;
		/*border-left: solid 1px #333*/
		height: 150px;
		//margin-left: 20px;

		.inner
		{
			clear: both;
			background-color: #ccc;
			margin: 0px;
			padding: 5px;
			width: 100%;
			height: 100%;
			/*margin-left: 5px*/
		}

		.more_videos_header
		{
			/*margin-left: 5px*/
			/*padding: 5px*/
			clear: both;
			width: 100%;
		}
	}
}

